@page "/nav/"
<h3>Nav problem</h3>

<h1>This is fixed on NET 9 </h1>

@code {

}
<ul>
    <li>

        <NavLink href="nav2/#Navlink" data-enhance-nav="false">Go to #Navlink</NavLink>
    </li>
    <li>

        <a href="nav2/#AnchorLink" data-enhance-nav="false">Go to #AnchorLink</a>
    </li>
</ul>


<div class="articles">
    <article>
        <h2>The Legend of Zelda: Breath of the Wild</h2>
        <p>Release Date: March 3, 2017</p>
        <p>Characteristics: Open-world, Action-adventure, Exploration</p>
    </article>
    <article>
        <h2>God of War</h2>
        <p>Release Date: April 20, 2018</p>
        <p>Characteristics: Action-adventure, Mythology, Cinematic</p>
    </article>
    <article>
        <h2>Red Dead Redemption 2</h2>
        <p>Release Date: October 26, 2018</p>
        <p>Characteristics: Open-world, Western, Story-driven</p>
    </article>
    <article>
        <h2>The Witcher 3: Wild Hunt</h2>
        <p>Release Date: May 19, 2015</p>
        <p>Characteristics: Open-world, RPG, Story-rich</p>
    </article>
    <article>
        <h2>Persona 5</h2>
        <p>Release Date: April 4, 2017</p>
        <p>Characteristics: JRPG, Turn-based, High School Life</p>
    </article>
    <article>
        <h2>Dark Souls III</h2>
        <p>Release Date: April 12, 2016</p>
        <p>Characteristics: Action RPG, Difficult, Atmospheric</p>
    </article>
    <article>
        <h2>Horizon Zero Dawn</h2>
        <p>Release Date: February 28, 2017</p>
        <p>Characteristics: Open-world, Action RPG, Post-apocalyptic</p>
    </article>
    <article>
        <h2>Spider-Man</h2>
        <p>Release Date: September 7, 2018</p>
        <p>Characteristics: Action-adventure, Superhero, Open-world</p>
    </article>
    <article>
        <h2>Cyberpunk 2077</h2>
        <p>Release Date: December 10, 2020</p>
        <p>Characteristics: Open-world, RPG, Futuristic</p>
    </article>
    <article>
        <h2>Final Fantasy XV</h2>
        <p>Release Date: November 29, 2016</p>
        <p>Characteristics: Open-world, Action RPG, Fantasy</p>
    </article>
</div>

<div class="section">

    <h2 id="Navlink">Navlink</h2>
    <p>
        This is a section with an id of Navlink.
    </p>
</div>

<div class="section">

    <h2 id="AnchorLink">AnchorLink</h2>
    <p>
        This is a section with an id of AnchorLink.
    </p>
</div>