@page "/scroll"
<h3>Scroll</h3>

<p>
    This page shows how navigating between a listing of items into a details page keeps the scroll position, which is totally opposite of what standard web navigation.
</p>


<style>
    article {
        margin-bottom: 70px;
    }
</style>
<h1>Listing</h1>

<div class="articles">
    <article>
        <h2>The Legend of Zelda: Breath of the Wild</h2>
        <p>Release Date: March 3, 2017</p>
        <p>Characteristics: Open-world, Action-adventure, Exploration</p>
        <a href="scroll/details/zelda_details">More Details</a>
    </article>
    <article>
        <h2>God of War</h2>
        <p>Release Date: April 20, 2018</p>
        <p>Characteristics: Action-adventure, Mythology, Cinematic</p>
        <a href="scroll/details/god_of_war_details">More Details</a>
    </article>
    <article>
        <h2>Red Dead Redemption 2</h2>
        <p>Release Date: October 26, 2018</p>
        <p>Characteristics: Open-world, Western, Story-driven</p>
        <a href="scroll/details/red_dead_details">More Details</a>
    </article>
    <article>
        <h2>The Witcher 3: Wild Hunt</h2>
        <p>Release Date: May 19, 2015</p>
        <p>Characteristics: Open-world, RPG, Story-rich</p>
        <a href="scroll/details/witcher3_details">More Details</a>
    </article>
    <article>
        <h2>Persona 5</h2>
        <p>Release Date: April 4, 2017</p>
        <p>Characteristics: JRPG, Turn-based, High School Life</p>
        <a href="scroll/details/persona5_details">More Details</a>
    </article>
    <article>
        <h2>Dark Souls III</h2>
        <p>Release Date: April 12, 2016</p>
        <p>Characteristics: Action RPG, Difficult, Atmospheric</p>
        <a href="scroll/details/darksouls3_details">More Details</a>
    </article>
    <article>
        <h2>Horizon Zero Dawn</h2>
        <p>Release Date: February 28, 2017</p>
        <p>Characteristics: Open-world, Action RPG, Post-apocalyptic</p>
        <a href="scroll/details/horizon_details">More Details</a>
    </article>
    <article>
        <h2>Spider-Man</h2>
        <p>Release Date: September 7, 2018</p>
        <p>Characteristics: Action-adventure, Superhero, Open-world</p>
        <a href="scroll/details/spiderman_details">More Details</a>
    </article>
    <article>
        <h2>Cyberpunk 2077</h2>
        <p>Release Date: December 10, 2020</p>
        <p>Characteristics: Open-world, RPG, Futuristic</p>
        <a href="scroll/details/cyberpunk_details">More Details</a>
    </article>
    <article>
        <h2>Final Fantasy XV</h2>
        <p>Release Date: November 29, 2016</p>
        <p>Characteristics: Open-world, Action RPG, Fantasy</p>
        <a href="scroll/details/ffxv_details">More Details</a>
    </article>
</div>




<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>

